body {
  margin: 0 auto;
  
}

h1 {
  margin: 1em auto 1em auto;
  text-align: center;
}

.ToDos-Div {
  margin: 0 auto;
  text-align: center;
}
.ToDos__item {
  padding: 1em;
}

hr {
  max-width: 30vw;
  margin: 0 auto;
}