body {
  margin: 0 auto;
  font-family: sans-serif;
}

h1 {
  margin: 1em auto 1em auto;
  text-align: center;
}

.App {
  margin:0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ToDos-Div {
  margin: 0 auto;
  text-align: center;
}
.ToDos__item {
  padding: 1em;
}

hr {
  max-width: 30vw;
  margin: 0 auto;
}

.affirmations {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(50deg, coral, cornflowerblue, aqua) no-repeat;
  max-width: 50vw;

}

.affirmations__p {
  padding: .3em;
  font-size: 1.1rem;
  color: white;
}